.calbox{
    width: 350px;
    text-align: center;
    margin: 10px auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: aliceblue;
}
.calbox input{
    width:100%;
    
}
.btn-group{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}
.btnBox{
    margin:5px;
    font-weight: bold;
    font-size: 15px;
}
.input{
    font-size: 30px;
    padding: 0px 10px;
}


